<div style="background-color: azure;">
    <h1>
        Calificar: <small>{{ proyecto.titulo | uppercase }}</small> 
    </h1>
    <hr>
    <h2>
        Codigo: <small>{{ proyecto.codigo | uppercase }}</small> 
    </h2>
    <hr>

</div>


<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/calificaciones">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
    </div>
</div>



<div class="row animated fadeIn faster">
    <div class="col">
        <!-- se llama al metodo guardar de proyecto.componet.ts -->
        <form (ngSubmit)="guardar( f )" #f="ngForm">

            
            <div class="form-group text-center">
                <h2 class="text-center">Criterios a evaluar</h2>
                <hr>
                <div *ngFor="let criterio of criterios">
                    <p  >{{ criterio.descripcion | uppercase }}</p>
                    <div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">0</label>  
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">1</label>  
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">2</label>  
                        </div>

                    </div>
                    <hr>
                                   
                 </div>
                 
                
                
            </div>

            <hr>

            

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>


        </form>

        <div class="row text-right">
            <div class="col">
                <button class="btn btn-danger" routerLink="/calificaciones">
            <i class="fa fa-arrow-left"></i>
            Regresar
            </button>
            </div>
            
        </div>
        <br>


    </div>
</div>















